/* 기본적인 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* 전체 페이지를 Flexbox로 구성 */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 전체 화면 높이를 차지하게 함 */
}

header {
  background-color: white;
  color: black;
  padding: 1rem;
  text-align: center;
  position: fixed; /* 헤더를 고정 */
  width: 100%;
  top: 0;
}

main {
  flex: 1; /* 남은 공간을 메인이 차지하게 함 */
  padding: 2rem;
  margin-top: 60px; /* 헤더 높이만큼 상단 마진 */
}

footer {
  background-color: white;
  color: black;
  padding: 1rem;
  text-align: center;
  position: fixed; /* 푸터를 화면 하단에 고정 */
  width: 100%;
  bottom: 0;
}
